extends layout

block content
  .container
    table.table.table-secondary
      thead
        th Project ID
        th Project name 
        th Amount of donation
        th Quantity
        th
      tbody
        each item in basketItemsWithNamesAndPrices
          tr
            td #{item.pid}      
            td #{item.title}
            td #{item.donation}
            td #{item.quantity} 
              form(action=`/baskets/updateAdd/${item.id}` method="POST")
                button.btn-block.btn.btn-info Add
            td
              form(action=`/baskets/updateDel/${item.id}` method="POST")
                button.btn-block.btn.btn-danger Del       
    div
      p Total: #{totalPrice}
      - let empty = `baskets/empty/${basketItemsWithNamesAndPrices.userid}`  
      a.btn.btn-danger(href=empty) Empty basket
    div
      -let donationMessage = ''
      p
    div
      form(action=`/orders/${basketItemsWithNamesAndPrices.projectid}`, method="post")
        button.btn-block.btn.btn-info Donate
              