extends layout

block content
  .container
    table.table.table-secondary
      thead
        th User ID
        th Project ID
        th Quantity
        th 
      tbody
        each item in basketItems
          tr
            td #{item.userid}        
            td #{item.projectid}
            td #{item.quantity} 
            td #{item.price}
            td
              - let del = `basket/${item.id}`
              a.btn.btn-danger(href=del) Del         
    div
      p Total: #{totalPrice}
      - let empty = `basket/empty/${basketItems.userid}`  
      a.btn.btn-danger(href=empty) Empty basket
              