doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='description' content='The is the BETAG TEAM project funding page')
    meta(name='author' content='BETAG TEAM')

    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    title= title
    
    link(rel="apple-touch-icon" sizes="57x57" href="/images/betag-favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/images/betag-favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/images/betag-favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/images/betag-favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/images/betag-favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/images/betag-favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/images/betag-favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/betag-favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/betag-favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/images/betag-favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/betag-favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/images/betag-favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/betag-favicon/favicon-16x16.png")
    link(rel="manifest" href="/images/betag-favicon/manifest.json")

    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/font-awesome-4.7.0/fonts/fontawesome-webfont.woff')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    #page-container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.col-7
            li.nav-item.active
              a.nav-link(href='/')
                img#logo(src="/images/logo2.png")
            li.nav-item.ml-5
              a.nav-link(href='/projects') Projects
            li.nav-item
              a.nav-link(href='/about') About Us
            li.nav-item
              a.nav-link(href='/reviews') Reviews
          ul.navbar-nav
            if user
              if user.admin == 1
                li.nav-item
                  a.nav-link(href='/admin') Admin
            if user
              if user.id
                li
                  img#profile-pic(src=`${user.pictureurl}`)
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/myProfile') My Profile
                    a.dropdown-item(href='/logout') Log out
                li
                  span#username #{user.firstname} #{user.lastname} 
                li
                  .col
                    a#basketlink.fa.fa-gift.fa-2x.ml-1.mt-1(href="/baskets") 
                      span#basketNumber.align-text-bottom (#{allItems})
              else
                li
                  a.btn.btn-animate(href='/login') Log In
      div.mt-3
        block content

      footer.footer.mt-auto.py-3.bg-light
        .container-fluid
          .row
            .col-4.text-muted.text-center
              a(href='/faq') Frequently Asked Questions
            .col-4.text-muted.text-center
              a(href='/privacy') Privacy Policy
            .col-4.text-muted.text-center
              a(href='/terms') Terms and Conditions

    script(src="/javascripts/jquery-3.3.1.slim.min.js")
    script(src="/bootstrap/dist/js/bootstrap.bundle.min.js")
    
