extends layout

block content
  .container.containerProjects
    .row
      .col-3
        .sidebar
          h1 Categories
          a#arts(href="/projects/arts") Arts
          a#biology(href="/projects/biology") Biology
          a#gender(href="/projects/gender") Gender Studies
          a#neurology(href="/projects/chemistry") Chemistry
          a#technology(href="/projects/computerSience") Computer Sience
          a#technology(href="/projects/engineering") Engineering
          a#technology(href="/projects/mathematics") Mathematics
          a#technology(href="/projects/physics") Physics
          a#technology(href="/projects/other") Other
          a.categories(href="/projects") Go back         
          .row
            form.form-inline(action='/projects' method="GET")
              .form-group
                .col-6
                    input.form-control(type='text',name="search", placeholder='Search..')
                .col-6
                  button.btn.btn-primary(type="submit")
                    i.fa.fa-search(aria-hidden='true')

      .col-8               
        each project , index in projects
          if index < 10
            .card.mb-3(style='max-width: 850px;')
              .row.no-gutters
                .col-md-4
                  img.card-img(src='http://www.ict-coherent.eu/coherent/wp-content/uploads/2015/10/project-motivation-img.jpg', alt='...')
                .col-md-8
                  .card-body
                    h5.card-title #{project.title}
                    p.card-text #{project.shortd}
                    p.card-text
                      small.text-muted Last funded 3 mins ago
                    a.btn.btn-info(href=`/projects/${project.seo}`) Show more! 
    .row
      .col-4.offset-4                      
        if numberOfproducts > 10
          nav(aria-label='Page navigation')
            ul.pagination.justify-content-center
              - let x = 1;
              - let y = Math.round(numberOfproducts/10) 
                li.page-item
                  a.page-link(href=`/projects?page=${prevPage || 1 }&limit=${10}` aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                    span.sr-only Previous
                while x <= y
                  li.page-item
                    a.page-link(href=`/projects?page=${x}&limit=${10}`) #{x++}    
                li.page-item                          
                  a.page-link(href=`/projects?page=${nextPage || 1 }&limit=${10}` aria-label='Next')
                    span(aria-hidden='true') &raquo;
                    span.sr-only Next    