extends layout

block content
  link(rel='stylesheet', href='/stylesheets/projectDetails.css')

  .container-fluid.mb-5(style="margin-left:2%")
    .row
      .col-3
        .sidebar.mt-4
          h5 #{project.title}
          a(href="#contact") Contact
          a.active(href="#about") About
          a(href="#link") Link to the research
          a(href="#donate") Donate
      .col-lg-9
        h1#donate.my-4.text-center #{project.title}
        hr
        .row
          .col-10.col-md-6.mr-3
            img.img-top.img-fluid.mt-3(alt='projectImg', src=project.pictureurl)
          .col-10.col-md-5#support
            h2#donate.mt-3.text-center #{project.title}
            p #{project.shortd}
            p
              a(href="#readMore") 
                small &nbsp;Read more...
            .progress
              .progress-bar.bg-success(role='progressbar',style=`width: ${percentage}%`, aria-valuenow=`${percentage}`,aria-valuemin="0", aria-valuemax=`${project.goal}`) #{percentage} %
            p
              small  the goal is $ #{project.goal}
            p Amount of donation: $ 5
            if user
              if user.id
                form(action=`/baskets/${project.id}`, method="post")
                  .form-group
                    label Quantity :
                    input.form-control(type='number', name='projectQuantity', value=1 , min=1, style="width:100px") 
                  button.btn-block.btn.btn-donate Donate
              else
                form(action=`/login`, method="get")
                  button.btn.btn-donate.btn-block.mt-5 Donate
        .row.mt-2
          .col-12.mb-5
            .card.mt-4
              .card-body#readMore
                h1.text-center #{project.title}
                h5.mt-5.card-title#contact Contact
                p.card-text #{project.contact}
                h5#about.mt-3 About
                p.card-text  #{project.longd}
                h5#about.mt-3 Link
                p
                  a#link.card-text(href=`${project.link}`) #{project.link}
                if user
                  if user.id     
                    a.btn.btn-donate.btn-block.mt-5(href="#donate") Donate
                  else 
                    form(action=`/login`, method="get")
                      button.btn.btn-donate.btn-block.mt-5 Donate
