extends layout

block content
  .row
    .col-10.offset-1
      table.table.table-striped
        thead
          tr
            th ID 
            th Admin
            th Firstname
            th Lastname
            th Username
            th Email
            th Password
            th Address
            th Token
        tbody
          each user in users
            tr
              td #{user.id}
              td #{user.admin}
              td #{user.firstname}
              td #{user.lastname}
              td #{user.username}
              td #{user.emailaddress}
              td #{user.password}
              td #{user.address} 
              td #{user.token}
